<div>
    <h1>拠点一覧</h1>
<div>
  <table class="table table-bordered table-condensed table-striped table-hover" id="table-attendances">
   <thead>
    <tr>
      <th width = 20% >　</th>
      <th width = 20% >　</th>
      <th width = 20% >拠点番号：</th>
      <th width = 20%>拠点名：</th>
      <th width = 20%>勤怠種類：</th>
    </tr>
    <tr>
      <th width = 20% ><p class="btn btn-sm btn-primary">修正</p></th>
      <th width = 20% ><p class="btn btn-sm btn-primary">削除</p></th>
      <th width = 20%>2</th>
      <th width = 20%>拠点A</th>
      <th width = 20%>出勤</th>
    </tr>
   </thead>
     <table class="table table-bordered table-condensed" id="table-bases" %>
   
   <tbody>  
    <tr>
      <td></td>
      
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </table>
   </tbody>
</div>


<div id="edit-base" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-base" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>