
/* 拠点情報 */

#table-bases {
  th {
    vertical-align: center;
    text-align: center;
  }
    
  td {
    vertical-align: middle;
    text-align: center;
  }  
}

/* 拠点情報 */
#table-base-point {
  margin-top: 15px;
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-base_points_new {
  margin-top: 10px;
}

.btn-base_points_new {
  margin-top: 15px;
}

.label-base_points_edit {
  margin-top: 10px;
}

.btn-base_points_edit {
  margin-top: 15px;
}
